<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="/" class="header__logo"><img src="img/logo.png" alt=""></a>
            <div class="header__controls">
                <div class="header__lang">
                    <svg class="header__flag" data-state="active" width="40" height="27" viewBox="0 0 40 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M40 0H0V27H40V0Z" fill="#005BBB" />
                        <path d="M40 13.5H0V27H40V13.5Z" fill="#FFD500" />
                    </svg>
                    <div class="header__lang-dropdown">
                        <svg class="header__flag" data-state="inActive" width="40" height="27" viewBox="0 0 40 27"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0H0V27H40V0Z" fill="red" />
                            <path d="M40 13.5H0V27H40V13.5Z" fill="black" />
                        </svg>
                        <svg class="header__flag" data-state="inActive" width="40" height="27" viewBox="0 0 40 27"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0H0V27H40V0Z" fill="orange" />
                            <path d="M40 13.5H0V27H40V13.5Z" fill="green" />
                        </svg>
                    </div>
                    <a class="header__lang-arrow-link" href="#!">
                        <svg class="header__arrow" viewBox="0 0 26 16" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M25.6823 1.27598C25.2587 0.852424 24.5741 0.852424 24.1505 1.27598L13 12.4265L1.84945 1.27598C1.42589 0.852424 0.741225 0.852424 0.317668 1.27598C-0.105889 1.69954 -0.105889 2.38421 0.317668 2.80776L12.2341 14.7242C12.4453 14.9354 12.7227 15.0416 13 15.0416C13.2774 15.0416 13.5547 14.9354 13.7659 14.7242L25.6824 2.80776C26.1059 2.38421 26.1059 1.69954 25.6823 1.27598Z" />
                        </svg>
                    </a>
                </div>
                <div class="header__telephone">
                    <a class="header__number header__number_active" href="tel:0992670205">
                        099 267 02 05
                    </a>
                    <div class="header__telephone-dropdown">
                        <a class="header__number" href="tel:0990000000">
                            099 000 00 00
                        </a>
                        <a class="header__number" href="tel:0991111111">
                            099 111 11 11
                        </a>
                    </div>
                    <a href="#" class="header__telephone-arrow-link">
                        <svg class="header__arrow" viewBox="0 0 26 16" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M25.6823 1.27598C25.2587 0.852424 24.5741 0.852424 24.1505 1.27598L13 12.4265L1.84945 1.27598C1.42589 0.852424 0.741225 0.852424 0.317668 1.27598C-0.105889 1.69954 -0.105889 2.38421 0.317668 2.80776L12.2341 14.7242C12.4453 14.9354 12.7227 15.0416 13 15.0416C13.2774 15.0416 13.5547 14.9354 13.7659 14.7242L25.6824 2.80776C26.1059 2.38421 26.1059 1.69954 25.6823 1.27598Z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>