<nav class="nav" id="nav">
    <ul class="nav__list">
        <li class="nav__item"><a class="nav__item-link" href="#about">О проекте</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#advantages">Преимущества</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#money">Уровни и стоимость</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#benefits">Прямые выгоды</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#blog">Блог</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#teachers">Преподаватели</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#discounts">Скидки</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#faq">FAQ</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#gallery">Фотогалерея</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#contacts">Контакты</a></li>
    </ul>
    <div class="burger burger_closed">
        <span class="burger__line"></span>
    </div>
</nav>